*{
    box-sizing: border-box;
 }
.contenedorNavbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: rgba(175, 175, 175, 0.1);
}
.contenedorNav{
    width: 70%;
}
.navbar-toggler{
    font-size: 1rem;
}
.logoNavbar{
    max-width: 30px;
    margin-right: 5px;
}
.logoCarrito{
    width: 5%;
    margin-left: 10%;
}
.navbar-brand{
    margin-right: 0;
}
.navbar-brand {
    padding: 10px 0;
}
.navbar-collapse{
    justify-content: end;
}
.logoUsuario{
    width: 9%;
    margin: auto;
    text-align: center;
}
#nombreUsuarioRegistrado{
    font-size: 0.85rem;
    font-weight:800;
    color: rgba(126, 83, 243, 1);
    text-decoration: underline;
}

.logoCarrito img{
    max-width: 35px;
}
.logoUsuario img{
    max-width: 45px;
}

.sliderInfo{
    max-height: 30vh;
}
.tituloProductos {
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 6px;
    font-size: 1.5rem;
}
#textoIconosProductos{
    background-color:rgba(60, 60, 167,0.3);
    padding-bottom: 2px;
}
#ordenador{
    text-align: center;
}

.cardsDeProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}

.cardsDeProductos{
  background-color: rgba(60, 60, 167,0.1);
}
.cartaProducto{
    background-color: rgba(60, 60, 167,0.1);
    
}
.card{
    border:0;
}
.textoPrecioCardProducto{
    font-size: 1.5rem;
    font-weight: 700;
}

.form-check-input:checked{
    background-color: rgb(120, 120, 238);
    border-color:rgb(120, 120, 238);
}

#textoBusquedaVacia{
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(60, 60, 167,0.8);
}
#textoVerTodo{
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 3%;
}
#textoVerTodo:hover{
    cursor: pointer;
    transform: scale(1.25);
    border-radius: 10%;
    background-color: rgba(60, 60, 167,0.5);
    margin-top: 25px;
}
.footer{
    background-color: rgba(60, 60, 167,0.3);
    display: flex;
    flex-wrap: wrap;
}
.logoFooter{
    height: 80px;
    margin: 1% 2% 2% 1%;
}
.textosFooter{
    margin-left: 0%;   
}
.tituloFooter{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0;
}
.subtituloFooter{
    font-size: 1.5rem;
    font-weight: 600;
}
.infoFooter{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 50px;

}
.logosRedesFooter{
    width: 30px;
}
.contenedorFotoProductoCard{
    height: 250px;
    margin: auto;
}


.fotoProductoCard{
     object-fit: contain;
}
.btnAgregarProducto{
    color: white;
    font-weight: 500;
    background-color: rgba(60, 60, 167,0.7);
    border-color: rgba(60, 60, 167,0.6);

}
.btnAgregarProducto:active{
    background-color: rgba(60, 60, 167,0.5);
}
.btnAgregarProducto:hover{
    background-color: rgba(60, 60, 167,1);
}

.productoEscondido{
    display: none;
}

.iconosCategoria{
}
.listasIconosCategorias{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
}
.listasIconosCategorias li img{
    max-width: 60px;
    margin: 20px 10px 0 10px;    
}
.listasIconosCategorias li img:hover{
    cursor: pointer;
    transform: scale(1.3);
    border-radius: 10%;
    background-color: rgba(60, 60, 167,0.5);
    margin-top: 15px;
}

.txtCenter{
    text-align: center;
}
.botonesAccion{
    display: flex;
    font-weight: 350;
    justify-content:space-around
}

.btnAgregar{

}
.btnBorrar{
    margin: 1px;
}

.btnEliminar{
    
}
#tablaCarrito{

}

.sumaTablaPrecio{
    font-weight: 900;
    font-size: 1.1rem;
    text-align: center;
}
.sumaTabla{
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
}
.textoCarroVacio{
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
}
.textoMetodoPago{
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}
.metodosDePago .btn{
    width: 40%;
    margin-left: 5%;
}
#importePagoEfectivo{
    text-align: center;
}
.textoTablaCuotas{
    text-align: center;
    width: 75%;
}

.botonFinalizarCompra{
    margin-bottom: 20px;
}
.botonFinalizarCompra .btn{
    width: 50%;
    margin-left: 25%;

}


/* LOGIN */
.formularioLogin{
    height: 50vh;
    background-color: rgba(60, 60, 167,0.1);
    padding: 10px;
}

.formularioRegistroUsuario{
    background-color: rgba(60, 60, 167,0.1);
    padding: 50px;
}

@media (max-width: 300px){
    .botonesAccion{
        display: none;
    } 
    .txtAccion{
        display: none;
    }

    .listasIconosCategorias li{
        display: none;
    }
    .tituloProductos{
        display: none;
    }
    .logoCarrito{
        margin: 0;
    }
    .logoNavbar{
        display: none;
    }
    .contenedorNav{
        width: 65%;
    }
}

@media (max-width: 400px){
    .listasIconosCategorias li img{
        margin: 0 10px 0 10px;
    }
    .logoCarrito{
        margin: 0;
    }
    .btnEliminar{
        display: none;
    }

    #nombreUsuarioRegistrado{
        font-size: 0.7rem;
    }
    .contenedorNav{
        width: 65%;
    }
}
@media (min-width: 400px){
    .contenedorNav{
        width: 55%;
    }

}

@media (min-width: 1024px){
    #nombreUsuarioRegistrado{
        font-size: 1.1rem;
    }
}

@media (min-width: 1700px){
    .tituloProductos{
        padding-top: 60px;
    }
}
@media (min-width: 1850px){
    .tituloProductos{
        padding-top: 80px;
    }
}
@media (min-width: 2000px){
    .tituloProductos{
        padding-top: 120px;
    }
}
